:root {
    --fondo-color:#b7cddb;
    --header-color:#0B2239;
    --footer-color:#0B2239;
    --card-color:#675cb0;
    --text-navbar-color:#F3F8FB;
    --text-footer-color:#F3F8FB;
    --fuente-principal:'Yanone Kaffeesatz', sans-serif;
}